<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date %-5level %logger{10} [%mdc]: %message%n</pattern>
      <charset>utf8</charset>
    </encoder>
  </appender>
  <logger name="dev.bileto.extendmdc.aspect.ExtendMDCAspect" level="DEBUG"/>
  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>
</configuration>